@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Nunito:wght@400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}
.container{
    display: flex;
}
.panel{
    width: 20%;
    height: 100%;
    position: fixed;   
    background-color:#354f52;
                                                   
}
.panel-container{
    max-height: 100vh;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    align-items: center;  

}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    margin: 20px;
}
.logo i{
    color: #cad2c5;
    font-size: 40px;
    margin-right: 5px;
}
.logo .brand{
    font-weight: 700;
    letter-spacing: 2px;
}
.menu ul {
   margin-left: -48px;
}
.menu ul li {
    margin-bottom: 13px;
    transition: color .3s ease-in-out;
}
.menu ul li:hover{
    border-right: 3px solid #84a98c;
    border-radius: 2px;
    transition: color .3s ease-in-out;
}
.menu ul li:hover i{
    color:#84a98c;
}
.menu li a{
    padding:20px 50px;
    color: white;
    font-size: 18px;
    
}
.menu ul li i{
    padding: 10px 20px;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}
.profile img{
    width: 50px;
    height:50px ;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 2px solid white;
    transition: all .1s ease-in-out;
}
.profile img:hover{
    box-shadow: 1px 1px 10px 0px #9d9d9d;
}
.profile .profile-name{
    color: white;
    font-size: 18px;
    margin: 3px 0;
}
.profile a{
    color: #fff;
    border-radius: 18px;
    font-size: 10px;
    padding: 3px 15px;
    background-color: #52796f;
    transition: all .3s ease-in-out;
}
.profile a:hover{
    background-color: #84a98c;
}
/* ############################ showcase #################################### */


.showcase{
    width: 80%;
    background-color: #e7f579;
    margin-left: 20%;  
    height: 100vh;
    background-color: #fff;
}
.navbar{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    background-color: transparent;
    border: 2px solid #354f52;
    padding: 7px 15px;
    border-radius: 50px;
    width: 400px;
    font-size: 15px;
    color:#000000 ;
}
.search:focus{
    outline: 0;
    background-color: #84a98c;
    border: none;
}
.search::placeholder{
    color: #575757;
}
.nav-icons i{
    color: #7ba163;
    padding: 15px;
    font-size: 20px;
    transition: color .3s ease-in-out;
}
.nav-icons i:hover{
    color: #354f52;
}



.main{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.movie{
    width: 31%;
    object-fit: contain;
    object-position: center;
    box-shadow:.2px 1px 8px 0 rgb(135, 135, 135);
    position: relative;
    overflow: hidden;
    margin: 10px;

}

.movie .overview{
    color: #fff;
    background-color: #212121;
    opacity: .8;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 20px 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    transform: translateX(150%);
    transition: transform .3s ease-in;
}
.movie:hover .overview{
    transform: translatex(0%);
   
}
.over{
    margin-bottom: 10px;
    font-size: 30px;
}

.movie img{
    width: 100%;
    margin-top: 0;
}
.movie-content{
    width: 100%;
    background-color: #84a98c;
}

.movie h3{
    text-align: center;
    font-size: 20px;
    color: #273a3c;
    padding: 10px 0;
}
.movie-info{
    color: #354f52;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}


